ion-toolbar {
    --background: rgb(120, 112, 124) !important; /* Aplica el fondo negro */
}
.usuarios-titulo{
    margin-top: 30px;
    text-align: center;
    color: #F5F5DC;
    font-size: 30px;
    margin-bottom: 30px;
}
.titulo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
ion-button{
    --border-radius: 150px;
}
.boton-agregar {
    --background: black !important;
    --color: white !important;
    width: 95% !important;
    margin-bottom: 20px;
}
.fondo-usuarios{
    background-size: cover;
    background-position: center;
    --background: none;
    background-image: url('../../../assets/img/fondoadmin.png');
}