ion-content.fondo {
  background-image: url('../../assets/img/fondo.jpg');
  background-size: cover;
  background-position: center;
  --background: none;
}
.input {
    font-size: 300;
}
ion-item{
    --background: #74199b;
    border: 1px solid #F5F5DC ;
    border-radius: 10px;
    margin-bottom: 16px;
    color: #F5F5DC;
}
.header{
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
    .titulo{
        color: #F5F5DC;
        font-size: 30px;
        font-weight: bold;
    }
    .subtitulo{
        color: #bcbca9;
        font-size: 16px;
        font-weight: 300;
    }
}
.olvidaste{
    color: #FFFACD;
}
.boton{
    --background: none;
    background-color: #74199b;
    border-radius: 50%;
}