<ion-content class="fondo">
  <div class="header">
    <ion-title class="titulo">Iniciar sesión</ion-title>
    <p class="subtitulo">Ingrese su usuario y contraseña para acceder a la plataforma</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input [(ngModel)]="username" class="input" name="username" maxlength="25" minlength="6" required placeholder="Usuario"></ion-input>
        <ion-icon style="color: #F5F5DC;" name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" class="input" name="password" maxlength="25" minlength="7" required type="password" placeholder="Contraseña"></ion-input>
        <ion-icon style="color: #F5F5DC;" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div>
        <a class="olvidaste" [routerLink]="['/restablecer']">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
    
    <div *ngIf="errorMessage" style="color: red; margin-top: 10px; text-align: center;">
      {{ errorMessage }}
    </div>

    <ion-fab (click)="login()" vertical="bottom" horizontal="end" style="margin-bottom:30px">
      <ion-fab-button class="boton">
        <ion-icon name="chevron-forward" style="color: #F5F5DC"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
