ion-toolbar {
    --background: rgb(120, 112, 124) !important; 
}
.titulo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.fondo {
    background-size: cover;
    background-position: center;
    --background: none;
}
/* Fondos específicos por rol */
.fondo-estudiante {
    background-image: url('../../assets/img/fondoalumno.png');
}
.fondo-profesor {
    background-image: url('../../assets//img/fondoprofesor.png');
}
.fondo-administrador {
    background-image: url('../../assets/img/fondoadmin.png');
}

.bienvenida{
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
}
.nombre{
    color: #dccaca;
    font-size: 30px;
    font-weight: bold;
}
.spinner-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%; 
  text-align: center;
}
.spinner-container h5{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}
.spinner-container p{
    color: #ffffff;
    font-size: 14px;
}
.mat-icon{
    font-size: 60px;
    overflow: visible;
    width: 100px;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    h4{
        color: #ffffff;
    }
}
.boton-qr{
    background: none;
}   
.boton-container {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 40px; 
    margin-top: 40px;
}

.boton-administrar {
    --background: black !important;
    --color: white !important;
    width: 90% !important;
}
.botones-asignaturas{
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-button{
        color: white;
        --background: #058d00;
        width: 80%;
        margin-bottom: 1rem;
    }
}